<div class="body-container text-center pb-5">
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/posts">TasteBook</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/posts">Home</a>
        <a class="nav-link" href="/profile/user/{{user.username}}">{{user.username}}</a>
        <a class="nav-link" href="/search">Search</a>
        <form action="/sessions?_method=DELETE" method="POST">
         <input class="sign-out-nav nav-link" type="submit" value="Sign Out" />
        </form>
      </div>
    </div>
  </div>
</nav>



<h1 class="timeline-title">Timeline</h1>
<a class="new-post-link" href="/posts/new">Post a new recipe</a>
<ul class="posts">
  {{#each posts}}
    <li class="post mt-4">
      <div class="container">
        <div class="row mb-3">
          <div class="col-6">
             <div class="username-wrapper">
              <a class="username-display" href="/profile/{{this.username}}">{{this.username}}</a>
            </div>
          </div>
          <div class="col-6 mt-1">
            <div class="timestamp-wrapper">
              {{this.timestamp}}
            </div>
          </div>
        </div>

         <div class="row">
          <div class="col-12">
            {{#if this.image}}
              <div class="image">
               <input type="hidden" name="id" value={{this._id}} />
                <img class="post-image" src={{this.image}}  />
              </div>
              {{/if}}
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-12 text-container">
            <div class="title-wrapper">
              {{this.title}}
             </div>
      
            <div class="message-wrapper">
               {{this.message}}
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-6">
            <div class="likes-wrapper">
               {{#if this.likes}}
                 <div class="likes likes-display">
                    Likes: {{this.likes.length}}
                 </div>
                {{/if}}
              </div>
          </div>
          <div class="col-6">
            {{#if comments}}
             <button class="show-comment-button" id="show-comments" onclick="showComments()">
               Show Comments
            </button>
           {{/if}}
          </div>
        </div>


        <div class="row">
          <div class="col-3 like-button">
               <form class="like-button" action="/posts/like" method="post">
              <input type="hidden" name="id" value={{this._id}} />
              <input class="interact-post" type="submit" value="Like" />
             </form> 
          </div>
         <div class="col-9">
              <form id="enter-comment" action="/posts/comment" method="post">
                   <input class="interact-input" type="text" id="comment" name="comment" value="" placeholder="Write a comment here..." />
                   <input type="hidden" name="id" value={{this._id}} />
                   <input class="interact-post" type="submit" value="Comment">
                </form>
         </div>
         </div>
         <div class="row">
          <div class="col-12">
             <div class="comment-display-wrapper comments d-none">
               <ul>
                 {{#each comments}} 
                   <li class="comment" id="post-comment"> {{this}} </li>
                 {{/each}} 
               </ul> 
              </div>
          </div>
        </div>
        </div>
    
       </li>
    </li>
  {{/each}}
</ul>


</div>