{{! log out button }}
<form action="/sessions?_method=DELETE" method="POST">
  <input type="submit" value="Sign Out" />
</form>

{{! Profile page link}}
<a href="/profile/user">Profile Page</a>

<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
    <li class="post">
      {{this.timestamp}}
      <br />
      {{this.username}}
      <br />
      {{this.message}}
      <br>
      <input id="add-image-btn" type="button" onclick="show()" value="Add an image</input">
      <img id="image" style="display:none;" src="https://images.unsplash.com/photo-1527206363095-ca2f054128b0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2874&q=80" alt="Beach view with a drink on a table" width="400" height="400"/>
      <script> 
        show = () => {
          document.getElementById("image").style.display = "block";
          document.getElementById("add-image-btn").style.display = "none"
      }
      </script>

      <a class="add-image" href="/posts/image">Add an image</a>

      <form class="delete-post" action="/posts/delete" method="post">
        <input type="hidden" name="id" value={{this._id}} />
        <input type="submit" value="Delete" />
      </form>
      {{#if this.likes}}
      <div class="likes">Likes: {{this.likes}}</div>
      {{/if}}
      <form class="like-post" action="/posts/like" method="post">
        <input type="hidden" name="id" value={{this._id}} />
        <input type="submit" value="like" />
      </form

    </li>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>